<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @course.coding_class.title %></h1>
  <p>Trimester: <%= @course.trimester.term %> <%= @course.trimester.year %></p>
  <p>Start Date: <%= @course.start_date %></p>
  <p>End Date: <%= @course.end_date %></p>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
    <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>

  <h2>Enrolled Students:</h2>
  <% if @students.any? %>
    <ul>
      <% @students.each do |student| %>
        <li><%= "#{student.first_name} #{student.last_name}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No students enrolled yet.</p>
  <% end %>
</div>
